
body{
    font-family: Arial, Helvetica, sans-serif;

    /*font-size: 10;*/
    margin:  0 auto;
    max-width: 75%;
}
h1 {
    font-size: 40px;
    font-weight:bold;
    color: rgba(223, 9, 9, 0.849);
    max-width: 80%;
    line-height: 70px;
    align-items: center;
    margin: 0 auto;
    
}
h2{
    font-size: 15px;
    font-weight: lighter;
    margin: 0 auto;
    max-width: 80%;
    line-height: 28px;
    text-align: justify;

}
div img{

   margin: 0 auto;
   display: block;
   width: 750px; ;
   max-width: 80%;
   line-height: 100px;

}
div a img{
   
    margin: 0% auto;
    width: 140px;
    height: 50px;
    display: inline;
    margin-left:60px;
    margin-block-start: 20px;
    align-items: inherit;
   
}
P{
 
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;
    
}
h5{
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 80%;
    line-height: 35px;
    text-align: justify;
    
}
ol {
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    margin: 0 auto;
    max-width: 80%;
    line-height: 30px;
}
